<style>
ng-map { 
  width:100%;
  height:400px;
}
</style>
<div class="well page">
	<div class="row">
		<div map-lazy-load="https://maps.google.com/maps/api/js"
		  map-lazy-load-params="{{googleMapsUrl}}">
		  <ng-map default-style="false" center="-23.5523329,-46.658268899999996" zoom="13">
		  </ng-map>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-info" ng-repeat="n in array track by $index">
			  <div class="panel-heading">
			    <h3 class="panel-title">{{ n.type }}</h3>
			  </div>
			  <div class="panel-body">
			  	<p align="center"><img src="images/{{ n.img }}" class="img-responsive" style="height:300px;"></p>
			    {{ n.report }}

				<h4>{{ n.likes }} Curtidas</h4>
				<form ng-submit="incLikes(n)">
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary" value="{{ n.liked ? 'Descurtir' : 'Curtir' }}"/>
					</fieldset>
				</form>
			    <h3>Comentários</h3>
			    <hr>
			    <div ng-repeat="c in n.comments">
			    	{{ c.comment }}
					<h5>{{ c.likes }} Curtidas</h5>
					<form ng-submit="incLikes(c)">
						<fieldset class="form-group">
							<input type="submit" class="btn btn-primary" value="{{ c.liked ? 'Descurtir' : 'Curtir'}} "/>
						</fieldset>
					</form>
			    </div>
				<form ng-submit="addComment(n)" name="commentForm">
					<fieldset class="form-group">
						<textarea ng-model="n.comment" class="form-control" placeholder="Escreva seu comentário" title="Comentário"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Enviar Comentário" />
					</fieldset>
				</form>
			  </div>
			</div>
		</div>
	</div>
</div>