<style>
ng-map { 
  width:100%;
  height:400px;
}
</style>
<style>
	.panel-title{
		color: white;
	}
	.btn-primary{
		color: #196790;
	}
</style>
<div class="well page">
	<div class="row">
		<div map-lazy-load="https://maps.google.com/maps/api/js"
		  map-lazy-load-params="{{googleMapsUrl}}">
		  <ng-map default-style="false" center="-23.5523329,-46.658268899999996" zoom="13">
		  </ng-map>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-info" ng-repeat="n in array track by $index">
			  <div class="panel-heading">
			    <b><h3 class="panel-title">{{ n.type }}</h3><b>
			  </div>
			  <div class="panel-body">
			  	<p><b>Autor: </b> <i>{{ n.author }}</i> </p>
			  	<h5><b>Relato: </b>{{ n.report }}<h5>
			  	<p><b>Sugestão: </b>{{ n.sugestao }}</p>
				<p align="center"><img src="images/{{ n.img }}" class="img-responsive" style="height:300px;"></p>
				<button ng-click="incLikes(n)" type="button" class="btn btn-default btn-lg">
				  {{ n.likes }} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</button>
			    <h3>Comentários</h3>
			    <hr>
			    <div ng-repeat="c in n.comments">
			    	<p><b>{{ c.author }}</b>: </p>
					<p>{{ c.comment }}</p>

					<button ng-click="incLikes(c)" type="button" class="btn btn-default btn-lg">
						{{ c.likes }} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</button>
					</form>
			    </div>
				<form ng-submit="addComment(n)" name="commentForm">
					<fieldset class="form-group">
						<textarea ng-model="n.comment" class="form-control" placeholder="Escreva seu comentário" title="Comentário"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Enviar Comentário" />
					</fieldset>
				</form>
			  </div>
			</div>
		</div>
	</div>
</div>