<style>
ng-map { 
  width:100%;
  height:400px;
}
</style>
<style>
	.panel-title{
		color: white;
	}
	.btn-primary{
		color: #196790;
	}
</style>
<div class="well page">
	<div class="row">
	<div class="col-xs-12">
		<h1>Acompanhe</h1>
		<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
		<div map-lazy-load="https://maps.google.com/maps/api/js"
		  map-lazy-load-params="{{googleMapsUrl}}">
		  <ng-map default-style="false" center="-23.5977319,-46.6821862" zoom="12">
		  </ng-map>
		</div>
	</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div class="panel" ng-class="!n.solved ? 'panel-info' : 'panel-success'" ng-repeat="n in array track by $index">
			  <div class="panel-heading">
			    <b><h3 class="panel-title">{{ n.type }}</h3><b>
			  </div>
			  <div class="panel-body">
			  	<p><b>Autor: </b> <i>{{ n.author }}</i> </p>
			  	<h5><b>Relato: </b>{{ n.report }}<h5>
			  	<p><b>Sugestão: </b>{{ n.sugestao }}</p>
				<p align="center"><img src="images/{{ n.img }}" class="img-responsive" style="height:300px;"></p>
				<button ng-click="incLikes(n)" type="button" class="btn btn-default btn-lg">
				  {{ n.likes }} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				</button>
				<div ng-if="n.solved">
				<a ng-click="add_great(n)" class="btn btn-raised btn-success">Ótimo<div class="ripple-container"></div></a> <a ng-click="add_good(n)" class="btn btn-raised btn-info">Bom<div class="ripple-container"></div></a> <a ng-click="add_bad(n)" class="btn btn-raised btn-warning">Ruim<div class="ripple-container"></div></a>
					<div ng-if="n.solved_total > 0" class="bs-component">
						<div class="progress">
						
							<div class="progress-bar progress-bar-success" style="width: {{ n.solved_great * 100/n.solved_total }}%"></div>
							<div class="progress-bar progress-bar-info" style="width: {{ n.solved_good * 100/n.solved_total }}%"></div>
							<div class="progress-bar progress-bar-warning" style="width: {{ n.solved_bad * 100/n.solved_total }}%"></div>
						  
						</div>
					</div>
				</div>
			    <h4>Comentários</h4>
			    <hr>
			    <div ng-repeat="c in n.comments" class="well well-sm">
			    	<p><b>{{ c.author }} comentou</b>: </p>
					<p>{{ c.comment }}</p>

					<button ng-click="incLikes(c)" type="button" class="btn btn-default btn-lg">
						{{ c.likes }} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</button>
					</form>
			    </div>
				<form ng-submit="addComment(n)" name="commentForm">
					<fieldset class="form-group">
						<textarea ng-model="n.comment" class="form-control" placeholder="Escreva seu comentário" title="Comentário"></textarea>
					</fieldset>
					<fieldset class="form-group">
						<input type="submit" class="btn btn-primary pull-right" value="Enviar Comentário" />
					</fieldset>
				</form>
			  </div>
			</div>
		</div>
	</div>
</div>